@keyframes pulse1{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}