


body{
  background-image: url("images/background/IMG_2652.png");
  background-position: center;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  min-height: fit-content;
  margin: 0;
  background-attachment: fixed;
  text-align: center;
  overflow-x: hidden;
}






#menu-icon{
  position: fixed;
  width: 100px;
  height: 100px;
  right: 0;
  z-index: 4;
  animation: pulse1 1s infinite;
  top: 5px;
  cursor: pointer;
  transition: right 0.25s linear, transform 0.25s linear;
}
#menu-icon.open{
  right: 100px;
}
#menu-icon.open:hover{
  transform: scale(1.1);
}
#menu-icon.open:active{
  transform: scale(1);
}

#ptw-icon{
  margin-top: 50px;
  width: 200px;
  height: 200px;
}
h1{
  color: lightblue;
}

#menu{
  position: fixed;
  right: -400px;
  opacity: 0;
  border: 2px solid orange;
  background-image: url("images/background/IMG_2652.png");
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 715px;
  transition: opacity 0.25s linear, right 0.25s linear;
  text-align: center;
  z-index: 3;
}

#menu-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 0px;
}

#menu.open{
  right: 0;
  opacity: 1;
}

a{
  text-decoration: underline;
  color: orange;
  cursor: pointer;
}
#dylans-deck{
  width: 125px;
  height: 125px
}
#cams-deck{
  width: 125px;
  height: 125px;
}

iframe{
  border-radius: 20px;
  width: 75%;
  height: 100%;
}
#d-deck{
  width: cover;
  height: cover;
}

.menu-tabs{
  transition: transform 0.25s linear;
  width: 125px;
  height: 125px;
}

.menu-tabs:hover{
  transform: scale(1.1);
}

#container-social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social{
  width: 75px;
  height: 75px;
  transition: transform 0.25s linear;
}
.social:hover{
  transform: scale(1.1);
}
#ph1{
  margin: 0px;
}

#socialMediaBtn{
  position: fixed;
  left: 0;
  top: 0;
  animation: pulse1 1s infinite;
  cursor: pointer;
  z-index: 4;
}

#socialMediaIcon{
  width: 100px;
  height: 100px;
}

#socialMenu{
  position: fixed;
  left: -400px;
  opacity: 0;
  border: 2px solid orange;
  background-image: url("images/background/IMG_2652.png");
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 600px;
  transition: opacity 0.25s linear, left 0.25s linear;
  text-align: center;
  z-index: 3;
}

#socialMenu.open{
  left: 0;
  opacity: 1;
}
#socialMediaBtn{
  transition: left 0.25s linear;
}
#socialMediaBtn.open{
  left: 25%;
}

#sContainer{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 10px;
  padding-left: 10px;
}

.socialWeb{
  width: 110px;
  height: 110px;
  transition: transform 0.25s linear;
}
.socialWeb:hover{
  transform: scale(1.1);
}