@media (min-width: 625px){
  iframe{
    width: 650px;
    height: 285px;
    border-radius: 50px;
    
  }
  #ptw-icon{
    margin-top: 1px;
  }
  #menu-icon.open{
    right: 90px;
  }
  hr{
    display: none;
  }
  #socialMobile{
    display: none;
  }
  #socialMediaBtn.open{
    left: 90px;
  }
  #socialMediaIcon{
    width: 120px;
    height: 120px;
  }
  #menu-icon{
    width: 120px;
    height: 120px;
  }
  .mobile{
    display: none;
  }
}

@media (max-width: 625px){
  #social2{
    display: none;
  }
}

@media (min-height: 700px){
  #ptw-icon{
    width: 150px;
    height: 150px;
  } 
  }